# Python cache files
__pycache__/
*.py[cod]

# Data and output files (adjust as needed)
data/
results/
*.wav
*.txt

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files and configuration
env/
venv/
*/env/
*/venv/
*/*env/
*/*venv/
new_model_env/

*.patch