Cython
numpy==1.23.5
tensorflow==2.9.1      # Adjust version based on compatibility with your system
keras==2.9.0           # Keras integrated with TensorFlow
librosa==0.9.2         # For audio processing and feature extraction
git+https://github.com/The-Africa-Channel/madmom-py3.10-compat.git@v0.16.2-py310#egg=madmom
matplotlib==3.5.1      # For plotting (if used for visualization)
pytest==7.1.2
